<table class="hide fix" width="100%" align="center">
  <tr align="center">
    <th width="30%">文章名称</th>
    <th width="40%">最新章节</th>
    <th width="20%">更新</th>
    <th width="10%">操作</th>
  </tr>
{?section name=i loop=$articlerows?}
  <tr>
    <td class="even"><a href="{?$articlerows[i].url_articleinfo?}" target="_blank">{?$articlerows[i].articlename?}</a></td>
    <td class="odd"><a href="{?$articlerows[i].url_lastchapter?}" target="_blank">{?$articlerows[i].lastchapter?}</a></td>
    <td class="odd" align="center">{?$articlerows[i].lastupdate|date:"m-d"?}</td>
    <td class="even" align="center"><a href="{?$jieqi_modules['article']['url']?}/addbookcase.php?bid={?$articlerows[i].articleid?}">收藏</a></td>
  </tr>
{?/section?}  
</table>