<form name="frmsearch" method="post" action="{?$article_dynamic_url?}/admin/reviews.php">
<table class="grid" width="100%" align="center">
    <tr>
      <td class="odd">
        <table width="100%"  border="0" cellspacing="0" cellpadding="0">
         <tr>
           <td width="65%">关键字：
            <input name="keyword" type="text" id="keyword" class="text" size="0" maxlength="50"> <input name="keytype" type="radio" class="radio" value="0" checked>
            文章名称 
            <input type="radio" name="keytype" class="radio" value="1">
            发表人 &nbsp;&nbsp;
       <input type="submit" name="btnsearch" class="button" value="搜 索"></td>
           <td width="35%" align="right">[<a href="{?$article_dynamic_url?}/reviewslist.php?type=all">全部书评</a>] &nbsp;&nbsp; [<a href="{?$article_dynamic_url?}/reviewslist.php?type=good">精华书评</a>]&nbsp;</td>
         </tr>
       </table></td>
    </tr>
</table>
</form>
<br />
<form name="frmsearch" method="post" action="{?$article_dynamic_url?}/admin/reviews.php">
<table class="grid" width="100%" align="center">
  <tr align="center">
  	<td width="5%" class="title"><input type="checkbox" id="checkall" name="checkall" value="checkall" onclick="javascript: for (var i=0;i<this.form.elements.length;i++){ if (this.form.elements[i].name != 'checkkall') this.form.elements[i].checked = form.checkall.checked; }"></th>
    <td width="40%" class="title">主题</td>
    <td width="11%" class="title">书名</td>
    <td width="11%" class="title">点击/回复</td>
    <td width="11%" class="title">发表人</td>
    <td width="16%" class="title">发表时间</td>
	<td width="6%" class="title">操作</td>
  </tr>
  {?section name=i loop=$reviewrows?}
  <tr>
  	<td class="even" align="center"><input type="checkbox" id="checkid[]" name="checkid[]" value="{?$reviewrows[i].topicid?}"></td>
    <td class="odd">{?if $reviewrows[i].istop == 1?}<span class="hottext">[顶]</span>{?/if?}{?if $reviewrows[i].isgood == 1?}<span class="hottext">[精]</span>{?/if?}<a href="{?$jieqi_modules['article']['url']?}/reviewshow.php?rid={?$reviewrows[i].topicid?}" target="_blank">{?$reviewrows[i].title?}</a></td>
    <td class="even"><a href="{?$reviewrows[i].url_articleinfo?}" target="_blank">{?$reviewrows[i].articlename?}</a></td>
    <td align="center" class="odd">{?$reviewrows[i].views?}/{?$reviewrows[i].replies?}</td>
    <td class="even"><a href="{?function jieqi_geturl:'system':'user':$reviewrows[i].posterid?}" target="_blank">{?$reviewrows[i].poster?}</a></td>
    <td align="center" class="odd">{?$reviewrows[i].posttime|date:"Y-m-d H:i:s"?}</td>
	<td align="center" class="even"><a href="javascript:if(confirm('确实要删除该书评么？')) document.location='{?$jieqi_modules['article']['url']?}/admin/reviews.php?action=del&rid={?$reviewrows[i].topicid?}';">删除</a></td>
  </tr>
  {?/section?}
</table>
<div style="width:15%;float:left;text-align:left;padding:3px;"><input type="submit" name="Submit" value="批量删除" class="button"><input name="batchdel" type="hidden" value="1"></div>
</form>
<div style="width:84%;float:right;text-align:right;padding:3px;">{?$url_jumppage?}</div>