<div class="gridtop"><a href="{?$article_dynamic_url?}/admin/searchcache.php">全部搜索关键字</a> | <a href="{?$article_dynamic_url?}/admin/searchcache.php?flag=title">文章搜索关键字</a> | <a href="{?$article_dynamic_url?}/admin/searchcache.php?flag=author">作者搜索关键字</a> | <a href="{?$article_dynamic_url?}/admin/searchcache.php?flag=notitle">找不到的文章</a> | <a href="{?$article_dynamic_url?}/admin/searchcache.php?flag=noauthor">找不到的作者</a></div>
<table class="grid" width="100%" align="center">
  <tr align="center">
    <th width="25%">搜索时间</th>
    <th width="40%">关键字</th>
    <th width="20%">搜索类型</th>
    <th width="15%">结果数</th>
    </tr>
  {?section name=i loop=$cacherows?}
  <tr>
    <td height="14" align="center" class="odd">{?$cacherows[i].searchtime?}</td>
    <td class="even">{?$cacherows[i].keywords?}</td>
    <td align="center" class="odd">{?$cacherows[i].searchtype?}</td>
    <td align="center" class="even">{?$cacherows[i].results?}</td>
  </tr>
  {?/section?}
</table>
<div class="pages">{?$url_jumppage?}</div>

