<table class="grid" width="100%" align="center">
  <tr>
    <td class="odd">&nbsp;&nbsp;&nbsp; 配置文件写法是指用户在某些页面用户可以用户可以直接选择要显示的区块并制作配置文件。每个区块在配置文件中的写法如下，其中各个参数含义为：'bid' - 区块的序号, 'blockname' - '区块名称', 'module' - 模块名称, 'filename' - 区块处理程序名称，不含后缀, 'classname' - 区块类的名称, 'side' - 区块显示的位置(0:左边，1:右边，2:中左，3:中又，4:中上，5:中中，6:中下，7:顶部，8:底部), 'title'- 区块标题, 'vars' - 区块的参数, 'template' - 区块的模板文件名, 'contenttype' - 区块类型, 'custom' - 是否自定义区块, 'publish' - 是否显示（0:不显示，1:登陆前显示，2:登陆后显示，3:都显示）, 'hasvars' - 是否允许参数调用。（一般需要调整的就是区块位置和是否显示，其他请参考下面的不变）</td>
  </tr>
</table>
<table class="grid" width="100%" align="center">
<caption>区块配置文件管理</caption>
  <tr align="center">
    <th width="5%">序号</th>
    <th width="14%">区块名</th>
    <th width="10%">模块名</th>
    <th width="7%">位置</th>
    <th width="7%">排序</th>
    <th width="9%">显示类型</th>
    <th width="17%">配置文件写法</th>
    <th width="17%">远程调用js</th>
    <th width="14%">操作</th>
  </tr>
  {?section name=i loop=$blocks?}
  <tr>
    <td class="odd" align="center">{?$blocks[i].bid?}</td>
    <td class="even" align="center">{?$blocks[i].blockname?}</td>
    <td class="odd" align="center">{?$blocks[i].modname?}</td>
    <td class="even" align="center">{?$blocks[i].side?}</td>
    <td class="odd" align="center">{?$blocks[i].weight?}</td>
    <td class="even" align="center">{?$blocks[i].publish?}</td>
    <td class="odd" align="center"><input name="txtconfig{?$blocks[i].bid?}" type="text" size="20" value="{?$blocks[i].configtext?}" onFocus="this.select()"></td>
    <td class="even" align="center"><input name="txtjs{?$blocks[i].bid?}" type="text" size="20" value="{?$blocks[i].jstext?}" onFocus="this.select()"></td>
    <td class="even" align="center">{?$blocks[i].action?}</td>
  </tr>
  {?/section?}
  <tr>
    <td colspan="9" class="foot">&nbsp;</td>
  </tr>
</table>
