<form name="frmsearch" method="post" action="{?$jieqi_url?}/admin/userlog.php">
<table class="grid" width="100%" align="center">
    <tr>
        <td class="odd">关键字：
            <input name="keyword" type="text" id="keyword" class="text" size="0" maxlength="50"> <input name="keytype" type="radio" class="radio" value="0" checked>
            操作人员
            <input type="radio" name="keytype" class="radio" value="1">
            操作对象 &nbsp;&nbsp;
            <input type="submit" name="btnsearch" class="button" value="搜 索">         
        </td>
    </tr>
</table>
</form>
<br />
<table class="grid" width="100%" align="center">
<caption>用户操作记录</caption>
  <tr align="center" valign="middle">
    <th width="12%">日期</th>
    <th width="12%">时间</th>
    <th width="14%">操作用户</th>
    <th width="14%">操作对象</th>
    <th width="20%">操作原因</th>
    <th width="28%">操作描述</th>
  </tr>
  {?section name=i loop=$logrows?}
  <tr valign="middle">
    <td align="center" class="odd">{?$logrows[i].date?}</td>
    <td align="center" class="even">{?$logrows[i].time?}</td>
    <td align="center" class="odd"><a href="{?function jieqi_geturl:'system':'user':$logrows[i].fromid?}" target="_blank">{?$logrows[i].fromname?}</a></td>
    <td align="center" class="even"><a href="{?function jieqi_geturl:'system':'user':$logrows[i].toid?}" target="_blank">{?$logrows[i].toname?}</a></td>
    <td align="left" class="odd">{?$logrows[i].reason?}</td>
    <td align="left" class="even">{?$logrows[i].chginfo?}</td>
  </tr>
  {?/section?}
</table>
<table width="100%"  border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td align="right">{?$url_jumppage?}</td>
  </tr>
</table>
<br /><br />
