<table width="100%"  border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td height="25" valign="middle"><a href="{?$jieqi_modules['forum']['url']?}/index.php">ÂÛÌ³Ê×Ò³</a> &gt; <a href="{?$jieqi_modules['forum']['url']?}/topiclist.php?fid={?$forumid?}">{?$forumname?}</a>{?if $topicid > 0?} &gt; <a href="{?$jieqi_modules['forum']['url']?}/showtopic.php?tid={?$topicid?}&lpage=1">{?$topictitle?}</a>{?/if?}</td>
    </tr>
    <tr>
        <td align="center">{?$postform?}</td>
    </tr>
</table>
