<script language="javascript" src="js/jumpmenu.js"></script>
<div class="block-head">{?$step_menu0?}</div>
<div class="block-title">{?$step_title?}</div>
<div class="block-summary">{?$step_summary?}</div>
<div class="block-content">{?$step_content?}</div>
<div class="block-menu">
<input type="button" name="bt1" value="全新安装" class="button" onclick="window.location='{?$next_page?}';">
<input type="button" name="bt2" value="模块安装" class="button" onclick="window.location='{?$direct_page?}';">
</div>